<!DOCTYPE HTML>
<html>
<head>
    <title>RobAIR : Reservation page</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" charset="utf-8">
       /* $(document).ready(function(){
                if ("WebSocket" in window) {
                var loc = window.location, new_uri;
                if (loc.protocol === "https:") {
                    new_uri = "wss:";
                } else {
                    new_uri = "ws:";
                }
                new_uri += "//" + loc.host;
                new_uri += loc.pathname + "/api";
                ws = new WebSocket(new_uri);
                ws.onmessage = function (msg) {
                    $("#log").append("<p>"+msg.data+"</p>")
                };
            } else {
                alert("WebSocket not supported");
            }
        });
        function reserver(){
	    //ws.send($('#reserv').val())
	    document.location.href="commande" 
	    return true;
        }
        
        function showId(){
	    var v = document.getElementById('sendButton').value;
	    var m = "Check your reservation : " + v;
	    alert(m);
        }
        */
        
        
    </script>
</head>
<body>

    
    <h1>Reserve</h1>
    
    <form method=GET action="http://127.0.0.1:9090/api/new" onsubmit='showId()'>
    
    <table BORDER=0>
	<tr>
	    <td>Put your jabber identifiant :</td>
	    <td><input id='idJab' type=text name="jid">  </td>
	</tr>
	
	<tr>
	      <td COLSPAN=2><input type="submit" value="Send"></td>
	</tr>

    </table>
    </form> 
    
	
   <!-- <div>Put your jabber identifiant : </div>
    <div><input type='button' id='reserv' onClick='reserver()' value='Reserver'></div> -->
    
</body>
</html>
